<%- include("partials/header.ejs") %>
    <div class="about-container">
        <h1>About Me</h1>
        <img class="profile-pic" src="images/mine.jpg" alt="Profile Picture">
        <p>Hello there, I'm Wasif Hussain, a fourth-year B.Tech student majoring in Computer Science and Engineering at
            Aliah University, Kolkata. With an ardent interest in technology and a penchant for problem-solving, I'm on
            an exciting journey of exploration and growth.</p>
        <p>Throughout my academic voyage, I've delved deep into the realm of Computer Science. Proficient in Java, I
            find solace in unraveling the intricacies of Data Structures and Algorithms. I enjoy the intellectual
            challenge that comes with crafting elegant and efficient solutions to complex problems, and I am committed
            to honing this skill further.</p>
        <p>Moreover, my fascination with the digital world extends to web development. I've been diving into the trio of
            HTML, CSS, and JavaScript, discovering how they harmoniously shape captivating online experiences. This
            synergy between design and functionality has fueled my desire to create user-centric web solutions.</p>
        <p>As I embark on the final stretch of my academic journey, I am actively seeking opportunities for an
            internship where I can apply and enhance my skills. My dedication to mastering Data Structures and
            Algorithms in Java and my growing proficiency in web development inspire me to make meaningful contributions
            to the tech industry.</p>
        <p>Join me as I continue to explore, learn, and innovate, harnessing the power of technology to make a positive
            impact on the world.</p>
        <p>Warm regards,</p>
        <p>Wasif Hussain</p>
        <div class="social-links">
            <p>Connect with me:</p>
            <a href="https://www.linkedin.com/in/787wasifhussain/" target="_blank" class="social-icon"><img
                    src="images/linkedin.png" alt="LinkedIn"></a>
            <a href="https://www.instagram.com/iamwh_01/" target="_blank" class="social-icon"><img
                    src="images/instagram.png" alt="Instagram"></a>
            <a href="https://github.com/Wasif0787" target="_blank" class="social-icon"><img
                    src="images/github.png" alt="GitHub"></a>
            <!-- Add more social media links and icons as needed -->
        </div>
    </div>
    <%- include("partials/footer.ejs") %>